*.swp
*.swo
*.mp4
*.bak
*.log
*.engine
*.pt
*.pth
*.zip
*.tar.*
*.tgz

build/
build*/
3rdparty/target/*
install/
conf/nginx
scripts/log*
release/
cscope*
tags*
build_debug/
build_release/
.idea/
build/
cmake-build-debug/
cmake-build-debug-remote-host/
data/documents/*
data/index/*
.cache

CMakeUserPresets.json
*__pycache__
keys
